body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea, button {
    width: 100%;
    font-size: 1rem;
    padding: 6px;
}

fieldset {
    margin-top: 15px;
}

button {
    margin-top: 15px;
}
